<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                {{ post.title | escape }}
                            </a>
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li> -->

            <li>
                <a href="https://github.com/kampersanda" target="blank" class="gitbook-link">
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://twitter.com/kampersanda" target="blank" class="gitbook-link">
                    Twitter
                </a>
            </li>
            <li>
                <a href="https://speakerdeck.com/kampersanda" target="blank" class="gitbook-link">
                    Speakerdeck
                </a>
            </li>
            <li>
                <a href="https://scholar.google.com/citations?user=9N9FgNQAAAAJ" target="blank" class="gitbook-link">
                    Google Scholar
                </a>
            </li>
            <li>
                <a href="https://researchmap.jp/kampersanda" target="blank" class="gitbook-link">
                    researchmap
                </a>
            </li>
            <li>
                <a href="https://dblp.org/pid/167/0684.html" target="blank" class="gitbook-link">
                    DBLP
                </a>
            </li>
            <li>
                <a href="https://orcid.org/0000-0002-5462-122X" target="blank" class="gitbook-link">
                    ORCID
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kampersanda/" target="blank" class="gitbook-link">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="https://kampersanda.hatenablog.jp/" target="blank" class="gitbook-link">
                    Hatena Blog
                </a>
            </li>
            <li>
                <a href="https://qiita.com/kampersanda" target="blank" class="gitbook-link">
                    Qiita
                </a>
            </li>
            </li>
            <li>
                <a href="https://scrapbox.io/kampersanda-scraps/" target="blank" class="gitbook-link">
                    Scrapbox
                </a>
            </li>
        </ul>
    </nav>
</div>
